@model LoginViewModel
@{
    ViewBag.Title = "Login";
}
@section scripts{

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/src/jquery.validate.unobtrusive.js"></script>
}
<div class="col-md-6 col-md-offset-3">
    <div class="well">
        <form method="post">
            <div class="form-group">
                <label asp-for="userName">Username</label>
                <input asp-for="userName" class="form-control" />
                <span asp-validation-for="userName" class="text-warning"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password">Password</label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-warning"></span>
            </div>
            <div class="form-group">
                <input asp-for="RememberMe" type="checkbox" class="checkbox-inline" />
                <label asp-for="RememberMe">Remember Me?</label>
                <span asp-validation-for="RememberMe" class="text-warning"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
           </form>
        </div>
    </div>
